<script type="text/html">
    <div class="container bg-kb">
        <div class="blank-placeholder">

        </div>
        <div class="activity-block">
            <div class="activity-title"><%- ruleNewTitle %></div>
            <div class="activity-body">

                <!-- 活动时间 -->
                <h1>◆&nbsp;活动时间</h1>

                <p class="activity-content"><%- ruleNewTime %></p>

                <!-- 活动说明 -->
                <h1>◆&nbsp;活动规则</h1>
                <% for(var i = 0, len = ruleNewRule.length; i < len; i++) { %>
                <p class="activity-content"><%- ruleNewRule[i] %></p>
                <% } %>
                <!-- 违规说明 -->
                <h1>◆&nbsp;活动说明</h1>
                <% for(var i = 0, len = ruleNewDesc.length; i < len; i++) { %>
                <p class="activity-content"><%- ruleNewDesc[i] %></p>
                <% } %>
            </div>
        </div>
    </div>
</script>