<script type="text/html">
    <div class="container bg-kb">
        <div class="blank-placeholder">

        </div>
        <div class="gift-card-tips">
            <img src="../img/bindCard_tip1.jpg" id="bindCardTip1" class="bindCard-image dn"/>
            <img src="../img/bindCard_tip2.jpg" id="bindCardTip2" class="bindCard-image dn"/>
        </div>
        <!-- 新用户大礼包 -->
        <div class="gift-block" id="newUserPack">
            <div class="gift-title"><%- giftListTitle %></div>
            <div id="ticketList">
            </div>
        </div>

        <p class="gift-tips"><%- giftListTip %></p>
        <p class="gift-join-tips dn" id="giftJoinTips">欢迎参加邀请有奖活动</p>
        <!-- 按钮区域 -->
        <div class="button-block dn" id="bindCardButton">
            <button class="button-large" id="buttonBindCard">立即绑定IC卡使用票券</button>
        </div>
        <div class="button-block dn" id="joinActivityButton">
            <a class="button-large" id="buttonJoinActivity2" href="inviteIndex.html">我要参加</a>
        </div>
    </div>
</script>





