<script type="text/html">
    <div class="container bg-yq2">
        <div class="invite-placeholder2">

        </div>
        <!-- 奖励概述 -->
        <div class="invite-activity-block clearfix">
            <div class="invite-activity-title">邀请红包奖励</div>
            <div>
                <div class="invite-summary">
                    <span><span class="invite-color">◆</span>&nbsp;邀请好友数</span>
                    <span><span id="inviteNumber" class="invite-color">0</span>位</span>
                </div>
                <div class="invite-summary">
                    <span><span class="invite-color">◆</span>&nbsp;一级奖励</span>
                    <span><span id="inviteFirstRedPack" class="invite-color">0</span>元红包</span>
                </div>
                <div class="invite-summary">
                    <span><span class="invite-color">◆</span>&nbsp;二级奖励</span>
                    <span><span id="inviteSecondRedPack" class="invite-color">0</span>元红包</span>
                </div>
                <div class="invite-tips">◆&nbsp;<%- inviteListTip1 %></div>
            </div>
            <div class="invite-list">
                <div class="invite-list-title">
                    <div>手机号</div>
                    <div>一级奖励</div>
                    <div>二级奖励</div>
                </div>
                <div id="myInviteList">

                </div>
            </div>
            <div id="moreButtonContainer" class="dn">
                <button class="button-action" id="moreButton">查看更多</button>
            </div>
            <div class="link-block invite-tips">
                *&nbsp;<%- inviteListTip2 %>，详见<a href="#activityRuleInvite" class="invite-link">活动细则</a>
            </div>
            <div class="link-block pull-right">
                <a href="#redPackIntro">银联红包使用说明</a>
            </div>
        </div>
    </div>
</script>